<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat+</title>
    <link rel="stylesheet" href="/static/css/nuevo_usuario.css">
    <!--Nos vinculamos con bootsrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <div id="contenedor_usuario">
        <form action="" id="nuevoUsuario">
            <h3>Agrega tu usuario y entra al chat</h3>
            <input type="text" name="txt_nombre_usuario">
            
            <button type="submit" class="btn btn-primary" id="btn_agregar_usuario">Agregar</button>
        </form>
    </div>

    <script src="/static/scrips/nuevo_usuario.js"></script>
</body>
</html>