body{
    background-color: #2E64FE;
    #contenedor_usuario{
        background-color: white;
        width: 40vw;
        height: 20vh;
        padding: 2%;
        margin-left: 30%;
        margin-top: 15%;
        border-radius: 10px;

        form{
            background-color: transparent;
            margin:auto;
            width: 22vw;
            h3{
                color: black;
            }
            input{
                width: 335px;
            }
        }
    }
}